.footer-style {
  background: inherit;
  margin-top: auto;
  padding: 10px 700px;
  position: fixed;
  bottom: 0px;
}

footer {
  color: rgb(30, 30, 30);
  font-size: 11px;
}

@import url("https://fonts.googleapis.com/css?family=Domine|Lobster");
