.header-style {
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgb(70, 65, 65)
  );
  padding: 30px 20px;
}

header {
  color: rgb(30, 30, 30);
  font-weight: bolder;
  font-size: 17px;
}

body .header-style {
  border: none;
  background: inherit;
}

@import url("https://fonts.googleapis.com/css?family=Domine|Lobster");
